.bubble-hover {
  display: inline-block;
  background: none;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  margin: 0px 5px;
  line-height: 25px;
  text-align: center;
  color: #0f9;
  box-shadow: none;
  transition: box-shadow 0.2s;
}
.bubble-hover:hover,
.bubble-hover:active,
.bubble-hover:focus {
  color: #00e489;
  text-decoration: none;
  box-shadow: 0px 0px 0px 5px #00e489;
  outline: none;
}
